/*
Gris oscuro = #1d252c
Gris claro = #FAFAFA
Background gris = #1D252C
Azul celeste = #026FFF
*/
body{
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
    background-color: #fAfAfA;
}

/* Fuente de los titulos */
h1, h2, h3, h4, h5, h6{
    font-family: 'Fjalla One', sans-serif;
    font-weight: normal; /* Peso de la fuente(ancho de la línea) */
    /* font-style: italic; */
}

h1{      
    font-size: 40px; /* Tamaño de la fuente */
    line-height: 150%; /* Espaciado entre lineas */    
    letter-spacing: -.2px; /* Espaciado entre letras */
    color: white;
    margin: 0;
    /* text-transform: uppercase; Ajustes del texto como mayusculas, etc */
    /* text-decoration: dashed;  Subrayados, tachados */
}

h1 strong{
    color: #026FFF;
}

h2{
    color: #026FFF;
    text-transform: uppercase;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 40px;
}

.hero{    
    height: 400px; /* Altura */    
    background-color: #1D252C;    
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image{
    object-fit: cover;    
    clip-path: polygon(16% 0, 100% 0, 100% 100%, 0% 100%)
}

.portfolio{
    background: #FAFAFA;
    padding: 20px;
}

.project{        
    /* border-radius: 50px 10px 10px 10px; top, right, bottom, left */
    /* margin: 10px; */
    margin-bottom: 15px;
    padding: 20px;
    background: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0px 0px 18px -8px rgba(0,0,0,.5);    
    border-radius: 7px; /*Todos los bordes*/
}

.project-course, .project-date, .project-url{
    margin: 10px 0;
}

.project-description{
    font-size: 20px;
}

.project strong{
    font-family: 'Fjalla One', sans-serif;
}

.project-title{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 10px;
}

.project-details{
    width: 500px; /* Ancho */
}

.project-imageContainer{
    width: 500px;
}

.header{
    background-color: #1D252C;
    color: white;
    height: 70px;
    display: flex;  
    justify-content: space-between;
    box-shadow: 0px 10px 18px -8px rgba(0,0,0,1);
    position: relative;
    z-index: 10;
    align-items: center;  
}

ol, ul{
    margin: 0;
    padding: 0;
    list-style: none;  /*Número de la lista*/
}

figure{
    margin: 0;
}

.header a{
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;
    height: inherit;
    padding: 0 10px;
}

.menu{
    height: inherit;
}

.header ol{
    display: flex;
    height: inherit;
}

.header ol li{
    height: inherit;
    display: flex;
    align-items: center;    
}

.footer{
    color: white;
    background-color: #1d252c;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer img{
    vertical-align: middle;
}

.footer a{
    color: white;
    text-decoration: none;
}

.event-list{
    display: flex;
    flex-wrap: wrap;
}

.event-list-title{
    margin-left: 20px;
}

.event{    
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background: #F4FBFF;
}

.event img{
    width: 480px;
    height: 200px;
    object-fit: cover;
}

.event-detail{
    margin: 20px 40px;
    margin-top: -40px;
    background-color: white;
    position: relative;
    padding: 20px;
    text-align: center;
}

.event-description{
    text-align: left;
}

.event-url{
    color: #056FFF;
    border: 1px solid;
    padding: 5px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.contact{
    background-color: #056FFF; 
    color: white;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link{
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    /* border: 1px solid white; */
    background-size: 50px 50px;    
}

.social-link.linkedin{
    background-image: url('../images/linkedin.svg');        
}

.social-link.facebook{
    background-image: url('../images/facebook.svg');
}

.social-link.github{
    background-image: url('../images/github.svg');
}

.social-link.instagram{
    background-image: url('../images/instagram.svg');
}

.form-email input{
    border-color: gray;
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 10px 25px;
    background-image: url(../images/envelope.svg);
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button{
    display: block;
    background: transparent;
    color: white;
    padding: 10px 0;
    border-radius: 5px;
    width: 100px;
    margin-top: 10px;
    margin-bottom: 20px;
}

.form-email h3{
    font-family: 'Source Sans Pro', sans-serif;
}

.container{    
    width: 1000px;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;    
}

